@import "partials/colors";
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}

body {
  width: 100%;
  max-height: 100vh;

  display: flex;
  flex-direction: row;

  background-color: #959698;
  //   background-color: #1a1a1a;
}

.body {
  display: flex;
  flex-direction: row;

  align-items: center;
}

img,
svg {
  display: block;
  width: 100%;

  // contruindo um layout mais responsivo com essas propriedades.
  // Os elementos vao se ajustar na tela de acordo com o tamanho
  // do elemento pai
}

@import "partials/nav-menu";
@import "partials/content";
@import "partials/projects";
@import "partials/skills";
