*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}

body {
  width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #959698;
}

.body {
  display: flex;
  flex-direction: row;
  align-items: center;
}

img,
svg {
  display: block;
  width: 100%;
}

.nav-menu {
  background-color: #1a1a1a;
  width: 300px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-items {
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.nav-items ul {
  text-align: center;
  text-decoration: none;
}

.nav-items ul li {
  list-style: none;
}

.nav-menu img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 3px solid var(#959698);
}

.nav-items li a {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: #edf1f7;
}

.content .name {
  color: #2a2a2a;
}

.content .number-email {
  color: #2a2a2a;
}

.text {
  color: #f9f9f9;
  font-size: 20px;
}

.content {
  height: 70%;
  width: calc(80vw - 300px);
  margin-left: 60px;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.content h1 {
  font-size: 48px;
  color: #edf1f7;
}

.content p {
  font-size: 32px;
  color: #edf1f7;
}

.socials span {
  margin-left: 10px;
}

.socials a {
  text-decoration: none;
  color: black;
}
.socials a:hover {
  color: #272a31;
  transform: scale(1.2);
  transition: 0.3s;
}

.slices {
  max-width: 70vw;
  margin-left: 30px;
  display: flex;
  height: 240px;
}

.slices .logo:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.slices img {
  height: 100%;
  padding: 20px;
  border-radius: 30px;
}

.hidden {
  display: none;
  overflow: hidden;
}

.arrow {
  margin: 35px;
  width: 0;
  height: 0;
  border-width: 10px 20px 10px 0;
  border-color: transparent #e5e9ef transparent transparent;
  border-style: solid;
  position: absolute;
}

@media only screen and (max-width: 850px) {
  .slices {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slices img {
    width: 400px;
    margin: auto;
  }
}
@media only screen and (max-width: 500px) {
  .slices {
    margin: auto;
  }
  .nav-menu img {
    border-radius: 50%;
    width: 170px;
    height: 170px;
    border: 3px solid var(#959698);
  }
  .slices img {
    width: 250px;
    margin: auto;
  }
}
@media only screen and (max-width: 850px) {
  .body {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .nav-menu {
    width: 100%;
    height: 300px;
  }
  .content {
    margin: auto;
  }
  .content h1 {
    font-size: 32px;
    color: #edf1f7;
  }
  .content p {
    font-size: 18px;
    color: #edf1f7;
  }
  .socials span {
    margin-left: 10px;
  }
  .socials a {
    text-decoration: none;
    color: black;
  }
  .socials a:hover {
    color: #272a31;
    transform: scale(1.2);
    transition: 0.3s;
  }
}
@media only screen and (max-width: 500px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content h1 {
    font-size: 22px;
  }
  .content h2 {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */