.content {
  //   border: 1px solid blue;
  height: 70%;
  width: calc(80vw - 300px);

  margin-left: 60px;
  margin-right: auto;

  display: flex;
  align-items: center;
}

.content h1 {
  font-size: 48px;
  color: #edf1f7;
}

.content p {
  font-size: 32px;
  color: #edf1f7;
}

.socials span {
  margin-left: 10px;
}

.socials a {
  text-decoration: none;
  color: black;

  &:hover {
    color: #272a31;
    transform: scale(1.2);
    transition: .3s;
  }
}


