.slices {
  //   border: 1px solid blue;
  max-width: 70vw;
  margin-left: 30px;

  display: flex;
  height: 240px;
}

.slices .logo {
  &:hover {
    transform: scale(1.05);
    transition: 0.5s;
  }
}

.slices img {
  height: 100%;
  padding: 20px;
  border-radius: 30px;
}

.hidden {
  display: none;
  overflow: hidden;
}

.arrow {
  margin: 35px;
  width: 0;
  height: 0;
  border-width: 10px 20px 10px 0;
  border-color: transparent #e5e9ef transparent transparent;
  border-style: solid;
  position: absolute;
}

@media only screen and (max-width: 850px) {
  .slices {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slices img {
    width: 400px;
    margin: auto;
  }
}

@media only screen and (max-width: 500px) {
  .slices {
    margin: auto;
  }

  .nav-menu img {
    border-radius: 50%;
    width: 170px;
    height: 170px;

    border: 3px solid var($gray-3);
  }

  .slices img {
    width: 250px;
    margin: auto;
  }
}
