.slices {
  //   border: 1px solid blue;
  max-width: 70vw;
  margin-left: 30px;

  display: flex;
  height: 240px;
}

.slices .logo {
  &:hover {
    transform: scale(1.05);
  }
}

.slices img {
  height: 100%;
  padding: 20px;
  border-radius: 30px;
}

.hidden {
  display: none;
  overflow: hidden;
}

.arrow {
    margin: 35px;
  width: 0;
  height: 0;
  border-width: 10px 20px 10px 0;
  border-color: transparent #e5e9ef transparent transparent;
  border-style: solid;
  position: absolute;
}
