@media only screen and (max-width: 960px) {
  .back-image {
    background-image: url("/public/emerick-img1.svg") no-repeat;
    z-index: 1;
    width: 200px;
    height: 300px;
    background-position: center;
    background-size: cover;
    border: 1px solid #6644ff;
    filter: drop-shadow(0px 173px 80px rgba(100, 255, 218, 0.0469654))
      drop-shadow(0px 79.4188px 83.2637px rgba(100, 255, 218, 0.0409859))
      drop-shadow(0px 49.4847px 80.4716px rgba(100, 255, 218, 0.0391737))
      drop-shadow(0px 32.8619px 65.47px rgba(100, 255, 218, 0.0434873))
      drop-shadow(0px 20.6819px 33.9911px rgba(100, 255, 218, 0.0538898))
      drop-shadow(0px 10.1135px 10.3037px rgba(100, 255, 218, 0.07));
    top: 320px;
    right: 90px;
  }

  .back-image2 {
    z-index: 1;
    width: 200px;
    height: 300px;
    background-position: center;
    background-size: cover;
    border: 1px solid #6644ff;
    filter: drop-shadow(0px 173px 80px rgba(100, 255, 218, 0.0469654))
      drop-shadow(0px 79.4188px 83.2637px rgba(100, 255, 218, 0.0409859))
      drop-shadow(0px 49.4847px 80.4716px rgba(100, 255, 218, 0.0391737))
      drop-shadow(0px 32.8619px 65.47px rgba(100, 255, 218, 0.0434873))
      drop-shadow(0px 20.6819px 33.9911px rgba(100, 255, 218, 0.0538898))
      drop-shadow(0px 10.1135px 10.3037px rgba(100, 255, 218, 0.07));
    bottom: 200px;
    right: 98px;
  }

  .content {
    width: 490px;
    height: 430px;
    top: 450px;
  }

  .content p:nth-child(4) {
    margin-top: 10px;
  }

  .content p:nth-child(3) {
    font-size: 32px;
    width: 410px;
    height: 40px;
  }

  .content p:nth-child(4) {
    width: 425px;
  }

  button {
    margin-top: 100px;
  }
}
