.socials {
  position: absolute;
  bottom: 45px;
  left: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 50px;
}

.socials a {
  margin-right: 26px;
}
