@import "partials/nav-menu";
@import "partials/content";
@import "partials/image";
@import "partials/ipad";
@import "partials/socials";
@import "partials/landing-page";


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #112240;
  color: #ccd6f6;
  font-family: "Poppins", sans-serif;
}




