.logo-spiderman {
  fill: transparent;

  animation: 8s ease infinite alternate;
}

@keyframes logo-spiderman {
  0% {
    stroke-width: 0;
    stroke-dasharray: 1 100;
    fill: transparent;
  }
  25% {
    stroke-width: 0.3;
    stroke-dasharray: 100 0;
    fill: transparent;
  }
  60%,
  100% {
    stroke-width: 0;
    fill: $white-dark;
  }
}
