.container {
  //   border: 1px solid green;
  max-width: 1440px;
  margin: 0 auto;

  padding: 36px 16px;

  overflow: none;
  height: 85vh;

  display: flex;
  flex-direction: row;
  align-items: center;

  @include responsive() {
    flex-direction: column;
    height: auto;
    overflow: hidden;
  }
}

.container-item-1 {
  max-width: 576px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-item-2 {
  // border: 1px solid red;
}

.spiderman {
  width: 130%;
  transform: translate3d(-150px, 0, 0);

  @include responsive() {
    width: 100%;
    transform: translate3d(0, 0, 0);
  }
}

.btn {
  display: inline-block;

  margin: 20px;
  padding: 12px 32px; // cima e baixo | lados
  border-radius: 3px;

  transform: skew(-10deg);
  transition: 0.7s ease;

  text-transform: uppercase;
  background: linear-gradient(225deg, $red 0%, $red-dark 100%);

  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: -2px;

    opacity: 0;
    transform: 0.7s ease;

    width: 30%;
    height: 70%;

    border-radius: 3px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    right: -2px;

    opacity: 0;
    transition: 0.7s ease;

    width: 30%;
    height: 70%;

    border-radius: 3px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
  }

  &:hover {
    transform: skew(-10deg) scale(1.05);
    &:after {
      opacity: 1;
    }
    &:before {
      opacity: 1;
    }
  }
}

.btn-secondary {
  display: inline-block;

  padding: 10px 32px;
  border-radius: 3px;

  transform: skew(-10deg);
  transition: 0.7s ease;

  text-transform: uppercase;
  background: transparent;

  position: relative;

  border: 2px solid $red;

  &:after {
    content: "";
    display: block;
    position: absolute;

    top: -1px;
    left: -1px;

    z-index: -1;

    width: 0%;
    height: 103%;

    transition: 0.7s ease;

    background: linear-gradient(225deg, $red 0%, $red-dark 100%);
  }

  &:hover {
    &::after {
      width: 101%;
    }
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: -1;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    background: linear-gradient(
      110deg,
      $blue-dark 25%,
      rgba(11, 12, 16, 0.8) 50%,
      $blue-dark 70%
    );
  }
}

.bg-loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(225deg, $red 0%, $red-dark 100%);
  overflow: hidden;
}

.flex {
  display: flex;
}

.w-auto {
  width: auto;
}

.align-items-center {
  align-items: center;
}

.border {
  border: 1px solid red;
}
