header {
  width: 100%;
  padding-top: 16px;
}

.navbar {
  max-width: 1440px;
  margin: 0 auto;

  padding: 0 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  //   border: 1px solid red;
}

.nav-menu {
  display: flex;
  justify-content: flex-start; //so pra manter o padrao.
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;

  li {
    margin-left: 24px;
  }

  @include responsive() {
    display: none;
  }
}

.nav-link {
  display: inline-block;

  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase; //deixar sempre em maisculo o texto.
  font-weight: 200;

  color: $gray-3;

  padding: 8px 16px; //8px cima/baixo e 16px dos lados.
  transition: 0.7s ease;

  position: relative; //tendo pai como relative o filho vai ficar absoluto ao pai.

  &::after {
    content: "";
    display: block;
    position: absolute;

    top: -40px;
    left: 50%;

    width: 2px;
    height: 0px;
    transition: 0.7s ease;

    background: linear-gradient(
      180deg,
      #e11c21 0.06%,
      rgba(225, 28, 33, 0) 101.91%
    );
  }

  &:hover {
    color: $white-light;

    &::after {
      height: 40px;
    }
  }
}

.bx {
  width: 48px;
  height: 48px;

  background-color: white;
  border-radius: 8px;

  display: none;

  @include responsive() {
    display: block;
  }
}

.nav-social {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    margin-left: 16px;
    width: 24px;

    cursor: pointer;

    path,
    circle {
      transition: 0.7s ease;
    }

    &:hover {
      path,
      circle {
        fill: $red-light;
        transform: translate3d(0, -2px, 0);
      }
    }
  }

  @include responsive() {
    display: none;
  }
}
